<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>res/txt_1_-.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,358},{44,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,40}</string>
			</dict>
			<key>res/txt_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,317},{44,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,40}</string>
			</dict>
			<key>res/txt_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,317},{44,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,40}</string>
			</dict>
			<key>res/txt_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,315},{44,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,40}</string>
			</dict>
			<key>res/txt_1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,333},{44,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,40}</string>
			</dict>
			<key>res/txt_1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,360},{44,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,40}</string>
			</dict>
			<key>res/txt_1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,369},{44,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,40}</string>
			</dict>
			<key>res/txt_1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,369},{44,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,40}</string>
			</dict>
			<key>res/txt_1_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,357},{44,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,40}</string>
			</dict>
			<key>res/txt_1_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,375},{44,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,40}</string>
			</dict>
			<key>res/txt_1_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,402},{44,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,40}</string>
			</dict>
			<key>res/txt_1_m.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,249},{84,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,35}</string>
			</dict>
			<key>res/txt_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,170},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>res/txt_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,217},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>res/txt_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,264},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>res/txt_2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,275},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>res/txt_2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,275},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>res/txt_2_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,311},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>res/txt_2_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,286},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>res/txt_2_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,322},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>res/txt_2_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,322},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>res/txt_2_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,317},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>res/down.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,96},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>res/up.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,114},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>res/money.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,132},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>res/new.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,384},{48,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,23}</string>
			</dict>
			<key>res/bloodBar2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,209},{390,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{390,38}</string>
			</dict>
			<key>res/dialog.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,1},{400,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{400,128}</string>
			</dict>
			<key>res/star.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,286},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>res/starBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,323},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>res/bloodBar.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,170},{462,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{462,37}</string>
			</dict>
			<key>res/CheckBox_Disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,131},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/CheckBox_Normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,173},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/CheckBox_Press.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,215},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/CheckBoxNode_Disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,257},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/CheckBoxNode_Normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,299},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>res/bar2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,249},{202,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{202,38}</string>
			</dict>
			<key>res/go.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,384},{50,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,35}</string>
			</dict>
			<key>res/finish.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,384},{50,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,35}</string>
			</dict>
			<key>res/task.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,1},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>res/taskButton.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,289},{200,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,34}</string>
			</dict>
			<key>res/taskButton_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,325},{200,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,34}</string>
			</dict>
			<key>res/hint.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,150},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>res/item_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,67},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>res/item_bg_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,133},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>res/item_bg_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,199},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>res/item_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,265},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>res/item_bg_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,331},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>res/item_bg_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,209},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>res/item_bg_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,249},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>res/exp.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,384},{46,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,29}</string>
			</dict>
			<key>res/expProgress.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,361},{189,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{189,21}</string>
			</dict>
			<key>res/expProgress2.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,364},{386,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{386,18}</string>
			</dict>
			<key>res/button2_lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,131},{200,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,100}</string>
			</dict>
			<key>res/dialog2.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,131},{155,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{155,184}</string>
			</dict>
			<key>res/dialog3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{520,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{520,167}</string>
			</dict>
			<key>res/next.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,69},{32,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,25}</string>
			</dict>
			<key>res/piece.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,168},{16,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,16}</string>
			</dict>
			<key>res/powerBar.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,384},{385,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{385,16}</string>
			</dict>
			<key>res/power.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,1},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>res/token.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,35},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>res/finish4.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,233},{200,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,51}</string>
			</dict>
			<key>res/finish5.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,286},{200,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,51}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui.png</string>
			<key>realTextureFileName</key>
			<string>ui.png</string>
			<key>size</key>
			<string>{1024,443}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>443</integer>
		</dict>
	</dict>
</plist>