<style type="text/css">

    .Main
    {
        margin:0px 30px;
    }
    .User
    {
        float:left;
        width:100px;
        height:140px;
        text-align:center;
        cursor:pointer;

    }
    .Face
    {
        border:5px solid #FFF;
    }
    .ZoneMenu{

    }
    .MenuItemSelect {
        float: left;
        width: 100px;
        background:#ff9f24;
        text-align:center;
        color:#fff;
        cursor:pointer;
        height:40px;
        line-height:40px;
        display: block;
        border:1px solid  #eee;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }

    .MenuItem {
        float: left;
        width: 100px;
        text-align:center;
        cursor:pointer;
        height:40px;
        line-height:40px;
        display: block;
        border:1px solid  #eee;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
    }
    .MenuItem:hover {
        color:#fff;
        background:#ff9f24;
    }
</style>
<div class="Main">
    <div >

        <span id="Menu1" class="MenuItem{{caredType==1?"Select":""}}" onclick="window.location.href='/zone/userCared/1/{{showUser.UserCode}}'"> {{showUser.UserCode==myCode?"我":"Ta"}}的关注 </span>
        <span id="Menu2" class="MenuItem{{caredType==2?"Select":""}}" onclick="window.location.href='/zone/userCared/2/{{showUser.UserCode}}'"> {{showUser.UserCode==myCode?"我":"Ta"}}的听众 </span>
    </div>
    <div class="clear"></div><br/>
    <div>
        {{each rowsCared as row}}
        <div class="User" onclick="window.location.href='/zone/userChat/{{row.UserCode}}'">
            <img class="Face" src="/{{row.Face}}" width=60 height=60/><br>
            {{row.UserCode}}<br>
            {{row.NickName}}
        </div>
        {{/each}}
    </div>
    <div class="clear"></div>
</div>


<div class="clear"></div>
<div id="chatListDiv">
    {{include "chatList"}}
</div>
