<head>
    <title>{{sysSetup.gameName}}后台管理系统</title>


</head>
<div class="pure-menu pure-menu-open pure-menu-horizontal alpha " style="margin:0 auto;width: 1224px;">
    <ul>
        <li class="pure-menu-selected"><a href="#">基本功能:</a></li>
        <li><a href='/admin/main'>首页</a></li>
        <li><a href='/admin/setup'>系统设置</a></li>
        <li><a href='/admin/user'>用户管理</a></li>
		<li><a href='/admin/data/show/baseRole'>角色管理</a></li>
		<li><a href='/admin/data/show/baseDialog'>对话管理</a></li>
        <li><a href='/admin/data/show/baseItem'>道具管理</a></li>
        <li><a href='/admin/data/show/baseTask'>任务管理</a></li>
        <li><a href='/admin/data/show/baseActiv'>活动管理</a></li>
        <li><a href='/admin/data/show/basePart'>章节管理</a></li>
        <li><a href='/admin/data/show/baseRound'>关卡管理</a></li>
        <li><a href='/admin/data/show/baseMonster'>怪物管理</a></li>
        <li><a href='/admin/data/show/baseSkill'>技能管理</a></li>
        <li><a href='/admin/data/show/baseShop'>商城管理</a></li>
        <li><a href='/admin/data/show/baseRank'>头衔管理</a></li>
        <li><a href='/admin/data/show/sysMail'>系统邮件</a></li>
        <li><a href='/admin/news'>系统消息</a></li>
        <li><a href='/admin/feedBack'>用户反馈</a></li>
        <li><a href='/admin/data/show/sysServer'>服务器管理</a></li>
    </ul>

</div>