<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {{include "../meta"}}

</head>
<style>

    html { overflow-x: auto; overflow-y: auto; }
    .mainDiv {
        margin-top:10px;
        text-align: center;
        width: 100%;

    }
</style>

<body>
{{include "menu"}}
<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp{{tableComment}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button onclick="window.location.href='/admin/round/show'" class="pure-button">刷新</button></h3>

<table class="pure-table-bordered mainDiv center" border="1">
    <thead >
    <tr align="center">
        {{each fields as field}}
        <td>
            {{if field.Comment.substr(1,1)=="_"}}{{field.Comment.substr(2,field.Comment.length)}}{{else}}{{field.Comment}}{{/if}}
        </td>
        {{/each}}
        <td>掉落物品</td>
        <td>操作</td>
    </tr>
    </thead>
    <tbody>
    <form class="pure-form pure-form-aligned"  action="/admin/round/insert" method="post">
        <tr>


            {{each fields as field}}
            <td>
                {{if (field.Field=="hard")}}
                <select  name="{{field.Field}}">
                    <option value="0">普通</option>
                    <option value="1">英雄</option>
                    <option value="2">地狱</option>
					<option value="3">活动</option>
                </select>
                {{else if (field.Field=="nextID")}}
                <select width="200" name="{{field.Field}}">
                    <option value="0">无</option>
                    {{each rows as roundRow}}
                    <option value="{{roundRow["ID"]}}">
                    {{if (roundRow["hard"]==0)}}普通{{/if}}
                    {{if (roundRow["hard"]==1)}}英雄{{/if}}
                    {{if (roundRow["hard"]==2)}}地狱{{/if}}
                    {{roundRow["name"]}}
                    </option>
                    {{/each}}
                </select>
                {{else if (field.Field=="roleID")}}
                <select width="200" name="{{field.Field}}">
                    <option value="0">无</option>
                    {{each roles as data}}
                    <option value="{{data["ID"]}}">
                    {{data["name"]}}
                    </option>
                    {{/each}}
                </select>
                {{else if (field.Field=="partID")}}
                <select width="200" name="{{field.Field}}">
                    {{each parts as row}}
                    <option value="{{row["ID"]}}">{{row["name"]}}</option>
                    {{/each}}
                </select>
                {{else if field.Comment.substr(0,2)=="B_"}}
                <select  name="{{field.Field}}">
                    <option value="0">否</option>
                    <option value="1">是</option>
                </select>
                {{else if (field.Field=="ID")}}
                {{else if (field.Field=="items")}}
                {{else}}
                <input  name="{{field.Field}}"  required type="text" placeholder=""  size="10" value="{{field.Default}}"  placeholder="请输入数据...">
                {{/if}}
            </td>
            {{/each}}
            <td></td>
            <td><button type="submit" class="pure-button pure-button-primary">新建</button></td>

        </tr>
    </form>

    {{each rows as row}}
    <form class="pure-form pure-form-aligned" action="/admin/round/modify/{{row.ID}}" method="post" id="form{{row.ID}}">
        <tr>
            {{each fields as field}}
            <td>
                {{if (field.Field=="hard")}}
                <select  name="{{field.Field}}">
                    <option value="0" {{row[field.Field]==0?"selected":""}}>普通</option>
                    <option value="1" {{row[field.Field]==1?"selected":""}}>英雄</option>
                    <option value="2" {{row[field.Field]==2?"selected":""}}>地狱</option>
					<option value="3" {{row[field.Field]==3?"selected":""}}>活动</option>
                </select>
                {{else if (field.Field=="nextID")}}
                <select width="200" name="{{field.Field}}">
                    <option value="0">无</option>
                    {{each rows as roundRow}}
                    {{if row["ID"]!=roundRow["ID"]}}
                    <option value="{{roundRow["ID"]}}" {{row[field.Field]==roundRow["ID"]?"selected":""}}>
                    {{if (roundRow["hard"]==0)}}普通{{/if}}
                    {{if (roundRow["hard"]==1)}}英雄{{/if}}
                    {{if (roundRow["hard"]==2)}}地狱{{/if}}
                    {{roundRow["name"]}}
                    </option>
                    {{/if}}
                    {{/each}}
                </select>
                {{else if (field.Field=="roleID")}}
                <select width="200" name="{{field.Field}}">
                    <option value="0">无</option>
                    {{each roles as data}}
                    <option value="{{data["ID"]}}"  {{row[field.Field]==data["ID"]?"selected":""}}>
                    {{data["name"]}}
                    </option>
                    {{/each}}
                </select>
                {{else if (field.Field=="partID")}}
                <select width="200" name="{{field.Field}}">
                    {{each parts as uprow}}
                    <option value="{{uprow["ID"]}}"  {{row[field.Field]==uprow["ID"]?"selected":""}}>{{uprow["name"]}}</option>
                    {{/each}}
                </select>


                {{else if field.Comment.substr(0,2)=="B_"}}
                <select  name="{{field.Field}}">
                    <option value="0" {{row[field.Field]==0?"selected":""}}>否</option>
                    <option value="1" {{row[field.Field]==1?"selected":""}}>是</option>
                </select>
                {{else if ((field.Field=="mapName" || field.Field=="hard") && row["upID"]==0) }}

                {{else }}
                <input  name="{{field.Field}}"   type="text" placeholder=""   size="10" value="{{row[field.Field]}}">


                {{/if}}
            </td>
            {{/each}}


            <td>

                {{each row.itemDrop as item}}
                            <span style="color:
                                {{ if item.quality==1}}#00cc33{{/if}}
                                {{ if item.quality==2}}#0000cc{{/if}}
                                {{ if item.quality==3}}#ac5bff{{/if}}
                                {{ if item.quality==4}}#ee7700{{/if}}
                                {{ if item.quality==5}}red{{/if}}
                                ">
                                {{item.rate}}%{{item.name}}X{{item.amount}}
                                </span><br>
                {{/each}}
            </td>

            <td> <button type="submit" class="pure-button pure-button-primary">修改</button>
                <button onclick="window.location.href='/admin/round/delete/{{row.ID}}'" class="pure-button">删除</button>

                <button onclick="window.open('/admin/itemSelect/show/{{row.ID}}/2')" class="pure-button">选择掉落</button>
           </td>
        </tr>
    </tbody>
    </form>
    {{/each}}
</table>

</body>
</html>

{{if msg}}
<script>
    $.colorbox.showHint('{{msg}}');
</script>
{{/if}}