
<div class="pure-menu pure-menu-open pure-menu-horizontal alpha " style="margin:0 auto;width: 1224px;">
    <ul>
        <li class="pure-menu-selected"><a href="#">基本功能:</a></li>
        <li><a href='/admin/main'>首页</a></li>
        <li><a href='/admin/setup'>系统设置</a></li>
        <li><a href='/admin/user'>用户管理</a></li>
        <li><a href='/admin/room'>房间管理</a></li>
        <li><a href='/admin/news'>系统消息</a></li>
        <li><a href='/admin/star'>明星照片审核</a></li>
        <li><a href='/admin/feedBack'>用户反馈</a></li>
        <li><a href='/admin/passWD'>修改密码</a></li>
        <li><a href='/admin/dealLog'>操作查询</a></li>
        <li><a href='/admin/redBag'>系统红包</a></li>
    </ul>
    <ul>
        <li class="pure-menu-selected"><a href="#">数据管理:</a></li>
        <li><a href='/admin/data/show/bao'>挖宝管理</a></li>
        <li><a href='/admin/data/show/rank'>头衔管理</a></li>
        <li><a href='/admin/data/show/gift'>礼物管理</a></li>
        <li><a href='/admin/data/show/stamp'>盖章管理</a></li>
        <li><a href='/admin/data/show/face'>头像管理</a></li>
        <li><a href='/admin/data/show/emote'>表情管理</a></li>
        <li><a href='/admin/data/show/apps'>应用管理</a></li>
        <li><a href='/admin/data/show/mall'>商城管理</a></li>
        <li><a href='/admin/data/show/roomType'>类别管理</a></li>
        <li><a href='/admin/data/show/sysServer'>服务器管理</a></li>

    </ul>
</div>